*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    // outline: 0;
    // appearance: none;
    // border: 0;
    // text-decoration: none;
    // list-style: none;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 14px/16px = 87.5%


    // @include respond(tab-land) { // width < 1200?
    //     font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    // }

    // @include respond(tab-port) { // width < 900?
    //     font-size: 50%; //1 rem = 8px, 8/16 = 50%
    // }

    // @include respond(big-desktop) {
    //     font-size: 75%; //1rem = 12, 12/16
    // }
}

.dark-theme {
    --color-background: #181a1e;
    // --color-background: #1A1C1D;
    --color-white: #202528;
    // --color-white: #202225;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
    --toastify-color-light: var(--color-dark);
    --toastify-color-dark: var(--color-white);
}

body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: var(--color-background);
    overflow-x: hidden;
    color: var(--color-dark);
}

p,
span,
td,
th,
label,
li {
    font-size: 1.2rem;
}

button {
    font-size: 1.4rem;
}

small {
    font-size: 1rem;
}

.text-muted {
    color: var(--color-info-dark);
}
.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger)
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.content {
    padding: 6rem 2rem 0;

    // margin-top: 1rem;
    @include respond(tablet) {
        padding: 3rem 2rem 0;
    }

    @include respond(laptop) {
        padding: 3rem 2rem 0;
    }
}


.main {
    display: flex;
    width: 100%;
    position: relative;

    .navbar {
        flex: 0 0 0rem;
        width: 10rem;
        height: 400px;

        @include respond(tablet) {
            flex: 0 0 7rem;
        }

        @include respond(laptop) {
            flex: 0 0 20rem;
        }
    }

    .dashboard {
        flex: 1;
        // border: 1px solid red;
        min-height: 100vh;
        overflow: auto;
        // position: relative;

        .add-section {
            display: flex;
            justify-content: end;
            margin-bottom: 1rem;
            margin-right: 2rem;
        }

        .title-content {
            // padding-top: 6.5rem;
            // padding-bottom: 3.5rem;
            margin-bottom: 3.5rem;

            .title {
                font-size: 2.2rem;
                font-weight: 500;
            }

            .extra-information {
                color: var(--color-info-dark);
                padding-left: 2rem;
                display: flex;
                flex-direction: column;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    left: 1rem;
                    height: 100%;
                    width: .3rem;
                    background: var(--color-primary);
                }
            }

            // @include respond(tablet) {
            //     padding-top: 3.5rem;
            // }
        }
    }

}