.container{
    &-fw{
        width: 100vw;
    }
    &-fpw{
        width: 100%;
    }
    &-fh{
        height: 100vh;
    }
    &-fph{
        height: 100%;
    }

}
.center{
    display: flex;
    &-width{
        justify-content: center;
    }
    &-height{
        align-items: center;
    }
}
