:root {
    // --color-primary: #df4545;
    // --color-primary: #4587df;
    --color-primary: #6f3996;
    //--color-secondary: #a47ebe;
    --color-secondary: color-mix(in srgb, var(--color-primary), #fff 35%);
    // --color-primary: #0065f3;
    // --color-primary: #000066;
    --color-danger: #ff7782;
    --color-success: #3acf9e;
    --color-warning: #dfd32b;
    --color-test: #2bcadf;
    --color-other: #977220;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200, .18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.5rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 2.2rem;
    --padding-1: 1.2rem;
    

    --box-shadow: 0 2rem 3rem var(--color-light);
    --box-shadow-1: .1rem .1rem 5rem var(--color-light);
}

$color-primary: #f00;
