.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;

    img{
        width: 100%;
        // -webkit-filter: drop-shadow(0px 0px 3px #fff);
        filter: drop-shadow(0px 0px 2px #fff);
    }
    .links{
        display: flex;
        gap: 2rem;
        justify-content: space-around;
        button{
            border: none;
            background: transparent;
        }
        svg{
            fill: var(--color-primary);
            width: 4rem;
            height: 4rem;
        }
    }
    .about-text-1{
        font-size: 1.8rem;
    }
    .about-text-2{
        font-size: 1.6rem;
    }

    @include respond(tablet){
        width: 80%;
    }
    @include respond(laptop){
        width: 50%;
    }
}