.login-screen {

    padding: 2rem;
    position: relative;

    @include respond(laptop) {
        padding: 0;
    }


    .login-container {
        background: var(--color-white);
        display: flex;
        width: 100%;
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius-2);
        overflow: hidden;

        @include respond(tablet) {
            width: 70%;
        }

        @include respond(laptop) {
            width: 80%;
        }

        @include respond(desktop) {
            width: 90rem;
        }

    }

    .theme {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
}

.login {
    flex: 1;
    padding: 2rem 2rem;
    position: relative;

    &__logo {
        text-align: center;

        .logo {
            // border-radius: 50%;
            padding: .5rem;
            // background-color: var(--color-background);
            // border: 1px solid var(--color-info-light);
            width: 7rem;
            // -webkit-filter: drop-shadow(0px 0px 1px #fff);
            filter: drop-shadow(0px 0px 3px #fff);
            
        }
    }

    &-content {
        width: 90%;
        // border: 1px solid red;
        .btn {
                margin: 3.5rem 0;
        }
    }

    &--title {
        font-size: 3rem;
        margin-bottom: .2rem;
        font-weight: 400;
        text-align: center;
    }

    &--leyend {
        color: grey;
        margin-bottom: 2.2rem;
        text-align: center;
    }

    &--status {
        text-align: center;
        color: var(--color-primary);
        margin-bottom: 3rem;
        height: 1.5rem;

        &.error {
            color: #f00;
        }
    }

    &--register {
        text-align: center;

        a {
            text-decoration: none;
            color: var(--color-primary);
            font-weight: 600;
        }
    }

}

.media {

    display: flex;
    flex: 0;
    overflow: hidden;
    background-color: var(--color-primary);

    transition: flex .5s ease;

    @include respond(laptop) {
        flex: 1;
    }

}