.theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    width: 7rem;

    div {
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: center;

        fill: var(--color-dark);

        &.active {
            background: var(--color-primary);
            border-radius: var(--border-radius-1);
            fill: white;
        }
    }

    svg {
        width: 2rem;
        height: 2rem;
    }
}